<div class="container participant_container">
  <div class="row">
    <!-- <div class="col-lg-3"> </div>  left page spacing using columns -->

    <div class="col-lg-8"> <!-- main content space on page using columns-->
      <div class="well">
        <fieldset>
          <legend>Ask a Question</legend>

          <%= form_for :question, url: {action: "create"}, html: { class: "bs-example form-horizontal" } do |f| %>

              <div class="form-group">
                <div class="col-lg-2">
          	      <%= f.label :title, "Title:", :input_html => { :class => "control-label"} %>
                </div>
                <div class="col-lg-10">
          	      <%= f.text_field :title, :input_html => { :class => "form-control"} %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-lg-2">
          	      <%= f.label :content, "Content:", :input_html => { :class => "control-label"} %>
                </div>
                <div class="col-lg-10">
          	      <%= f.text_area :content, :input_html => { :class => "form-control" } %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-lg-1">
                  <%= f.check_box :private%>
                  </div>
                  <div class="col-lg-11">
                  <%= f.label "I would like my question to remain private and not be shared with other participants in the trial." %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
          	     <%= f.submit "Submit",  :id => "login", :class => "btn btn-info" %>
                </div>
              </div>


          <% end %>

        </fieldset>

      </div><!--end of class="well" -->
    </div><!-- end of class="col-lg-8" -->
    <%= render "participants/sidebar" %>

    <!-- <div class="col-lg-3"></div>end of class="col-lg-3" -->
  </div>  <!-- end of class="row"-->
</div><!-- end of class="container"-->