<div class="deco-bar">
</div>
<h1> Archive for Subject: <%=params[:subject]%> </h1>
		<% if @questions %>
			<h5><%= pluralize(@questions.length, "question") %> archived</h5>
			<% @questions.each do |question| %>
			  <div class="panel panel-warning">
          <div class="panel-heading">
						<h3 class="panel-title"><%=question.title%></h3>
					</div>

					<div class="panel-body"> Question asked: <%= question.content %></div>

							<% if !question.answer%>
								<%= "There is no answer to this question" %>
							<% else %>
					<div class="panel-body"> Your response: <%= question.answer.content %></div>
							<% end %>
			<% end %>
		</div>
		<% else %>
			<%= "No questions available" %>
			<%= link_to "Go Back", root_path %>
		<% end %>
	</div>
	<div>
	 	<button><%= link_to "Go Back", root_path %></button>
	</div>