<h1> Archive for Subject: <%=params[:subject]%> </h1>
		<% if @questions %>
			<%= "There are #{@questions.length} questions archived" %>
			<% @questions.each do |question| %>
			  <div class="panel panel-warning">
          <div class="panel-heading">
						<h3 class="panel-title"><%=question.title%></h3>
					</div>

					<div class="panel-body"> Question asked: <%= question.content %></div>

							<% if !question.answer%>
								<%= "There is no answer to this question" %>
							<% else %>
					<div class="panel-body"> Your response: <%= question.answer.content %></div>
							<% end %>
			<% end %>
		</div>
		<% else %>
			<%= "No questions available" %>
			<%= link_to "Go Back", root_path %>
		<% end %>
	</div>

	<div>
		<% if @feelings %>
			<table border="1">
				<tr>
					<% @feelings.each do |feeling| %>
					<td>
						<%= feeling.emotion %>
					</td>
					<% end %>
				</tr>
					<% @feelings.each do |feeling| %>
					<td>
						<%= feeling.created_at.strftime("%D")%>
					</td>
					<% end %>
			</table>
		<% end %>
	</div>

	<div>
	 	<button><%= link_to "Go Back", root_path %></button>
	</div>