<div class="container">

<h1> Archive for Subject: <%=params[:subject]%> </h1>
		<% if @questions %>
		<div class="panel panel-primary">
      <div class="panel-heading">
				<h3 class="panel-title"><%= pluralize(@questions.length, "question") %> archived</h3>
			</div>
			<div class="panel-body">
			<% @questions.each do |question| %>
			  <div class="panel panel-default">
          <div class="panel-heading">
						<h3 class="panel-title"><%=question.title%></h3>
					</div>

					<div class="panel-body"> Question asked: <%= question.content %></div>

							<% if !question.answer%>
								<%= "There is no answer to this question" %>
							<% else %>
					<div class="panel-body"> Your response: <%= question.answer.content %></div>
							<% end %>
								</div>
			<% end %>

		<% else %>
			<%= "No questions available" %>
			<%= link_to "Go Back", root_path %>
		<% end %>
	</div>
</div>

		<% if @feelings %>
		<div>
			<div class="panel panel-primary">
      	<div class="panel-heading">
      		<h3 class="panel-title">Participant generated data on sentiments check box </h3>
      	</div>
      		 <div class="panel-body">
						<table>
							<tr>
								<% @feelings.each do |feeling| %>
								<td>
									<%= feeling.created_at.strftime("%D")%>
								</td>
								<td>&nbsp
								</td>

								<% @feelings.each do |feeling| %>
								<td>
									<%= feeling.emotion %>
								</td>
								<% end %>
							</div>

							</tr>
								<% end %>
						</table>
					<% end %>
	<!-- 			</div>
				</div> -->
			</div>
	</div>

	<div>
	 	<button class="btn btn-primary pull-right some_top_space"><%= link_to "Go Back", root_path %></button>
	</div>

</div><!-- end of outer panel container -->
</div>
