<div class="container">
  <div class="row">
    <!--  insert navbar -->
  </div> <!-- closes row -->

  <div class="row">
    <!-- main body 2 columns-->
    <div class="col-md-8">
      <div>

      </div>
      <h1>Welcome</h1>

      <% if @participants %>
      <h2>Participant Questions</h2>
      <table class="table">
        <tr>
          <th>Subject</th>
          <th>Pending Questions</th>
          <th>Answer</th>
          <th>Feeling</th>
        </tr>
        <tr>
          <% @participants.each do |participant| %>
          <% if participant.questions %>
          <td> <%= participant.subject_number %> </td>
          <td>
            <% participant.questions.each do |question| %>
              <% if !question.answer %>
                <%=question.title %><br>
              <% end %>
            <% end %>
          </td>
          <td>
            <% participant.questions.each do |question| %>
              <% if !question.answer %>
                <%= form_for( :answer , url: "/answers/new", :html => {:method => :get}) do |f| %>
                  <%= hidden_field_tag 'question', question.id %>
                  <%= f.submit "Answer", :class => "btn btn-block"%>
                <% end %>
            <% end %>
          <% end %>
          </td> 
        </tr>
      </div> <!-- closes question and answer block-->
      <% end %>
      <% end %>


    </table>
    <% end %>
  </div> <!-- closes content div-->
  <!-- <div class="col-md-4"> -->
  <!-- right hand sidebar butttons-->
  <!-- <a href="/answer/new">Ask a question</a> -->
  <!-- </div>  closes sidebar div -->
</div> <!-- closes row -->
</div> <!-- closes container-->

 <%= form_tag answers_path do %>
    <%= text_field_tag :subject, params[:subject] %>
    <%= submit_tag "Search", name: nil %>
  <% end %>
