<div class="container participant_container">
  <div class="row">
    <!--  insert navbar -->
  </div> <!-- closes row -->

  <div class="row">
    <!-- main body 2 columns-->
    <div class="col-md-12">


      <div class="row">
        <div class="col-md-6">
          <h1>Welcome</h1>
        </div>
        <div class="alert alert-dismissable alert-warning col-md-6">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> You have <%= @questions.length %>  unanswered questions
        </div>
      </div>

      <div class="row participant_table">
        <div class="col-lg-8">
          <h2>Participants</h2>
        </div>
        <div id="search" class="col-md-4">
            <%= render :partial => 'answers/search' %>
        </div>
      </div>

      <table class="table">
        <% if @participants %>
        <tr>
          <th>Subject</th>
          <th>Pending Questions</th>
          <th>Answer</th>
          <th>Feeling</th>
        </tr>
        <tr>
          <% @participants.each do |participant| %>

          <td> <!-- SUBJECT # COL-->
            <%= link_to participant.subject_number,archive_path(subject: participant.subject_number.to_s) %>
          </td>

          <td colspan="2"> <!-- NESTED TABLE 2 COL -->
            <table class="nested_table">
               <% if participant.questions %>
                <% participant.questions.each do |question| %>
                  <% if !question.answer %>
                    <tr>
                      <td><%=question.title %>
                      </td>
                      <td><%= form_for( :answer , url: "/answers/new", :html => {:method => :get, :class => "answer_button"}) do |f| %>
                        <%= hidden_field_tag 'question', question.id %>
                        <%= f.submit "Answer", :class => "btn btn-danger"%>
                      </td>
                    </tr>
                <% end %>
              <% end %>
          <% end %>
          </table>
          </td>

          <td>
          <% if participant.feeling %>
            <%= participant.feeling.emotion %>
          <% else %>
            - N/A -
          <% end %>
          </td>
        </tr>
      </div> <!-- closes question and answer block-->
      <% end %>
      <% end %>

    </table>
    <% end %>
    <div>
      <%= link_to "Upload Subject List", new_participant_file_path, :class => "btn btn-success  btn-lg btn-block" %>
    </div>
  </div> <!-- closes content div-->
  <!-- <div class="col-md-4"> -->
  <!-- right hand sidebar butttons-->
  <!-- <a href="/answer/new">Ask a question</a> -->
  <!-- </div>  closes sidebar div -->
</div> <!-- closes row -->
</div> <!-- closes container-->




