<div class="container participant_container">
  <div class="row">
    <!--  insert navbar -->
  </div> <!-- closes row -->

  <div class="row">
    <!-- main body 2 columns-->
    <div class="col-md-12">
      <div class="alert alert-warning">
        <h4> You have <%= @questions.length %>  unanswered questions </h4>
      </div>

      <div class="row">
      <div class="col-md-6">
        <h1>Welcome</h1>
      </div>
      <div id="search" class="col-md-6">
        <%= render :partial => 'answers/search' %>
      </div>
      </div>

      <div class="col-lg-12">
        <h2>Participant Questions</h2>
      </div>
      <table class="table">
        <% if @participants %>
        <tr>
          <th>Subject</th>
          <th>Pending Questions</th>
          <th>Answer</th>
          <th>Feeling</th>
        </tr>
        <tr>
          <% @participants.each do |participant| %>
          <% if participant.questions %>
          <td>

            <%= link_to participant.subject_number,archive_path(subject: participant.subject_number.to_s) %>

          </td>
          <td>
            <% participant.questions.each do |question| %>
              <% if !question.answer %>
                <%=question.title %><br>
              <% end %>
            <% end %>
          </td>
          <td>
            <% participant.questions.each do |question| %>
              <% if !question.answer %>
                <%= form_for( :answer , url: "/answers/new", :html => {:method => :get}) do |f| %>
                <%= hidden_field_tag 'question', question.id %>
                <%= f.submit "Answer", :class => "btn btn-block"%>
              <% end %>
            <% end %>
          <% end %>
          </td>
          <td>
          <% if participant.feeling %>
            <%= participant.feeling.emotion %>
          <% else %>
            - N/A -
          <% end %>
          </td>
        </tr>
      </div> <!-- closes question and answer block-->
      <% end %>
      <% end %>

    </table>
    <% end %>
  </div> <!-- closes content div-->
  <!-- <div class="col-md-4"> -->
  <!-- right hand sidebar butttons-->
  <!-- <a href="/answer/new">Ask a question</a> -->
  <!-- </div>  closes sidebar div -->
</div> <!-- closes row -->
</div> <!-- closes container-->



 <div>
  <%= link_to "Upload Subject List", new_participant_file_path %>
  </div>
