<div class="jumbotron">
  <div class="container">
    <h1> Your Dashboard </h1>
  </div>
</div>
<div class="container">
  <div class="row">
  <!-- main body 2 columns-->
    <div class="col-md-8">
      <h1>Welcome</h1>
      <div id>
          <% if current_user.answers_unviewed[0] %>

                <%= link_to 'You have answered questions!', participant_answers_path(current_user.authenticity_token), html = { :class => "btn btn-primary btn-lg answered_unviewed"}%>

                <div id="slide_info"></div>
          <% end %>
      </div>

      <h2>Recently Asked Questions</h2>
      <% if @questions.length == 0 %>
        <div>There are no public questions that have been answered.<br> Click on the "Ask a Question" button to submit a question to your coordinator.</div>
      <% else %>
        <% @questions.each do |question| %>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%= question.title %></h3>
            </div><!-- end of class="panel-heading" -->

            <div class="panel-body"><%= question.content %></div>
            <% if question.answer %>
              <div class="panel-body"><%= question.answer.content %> - <%= question.coordinator_name %></div>
            <% end %>

          </div><!-- end of class="panel panel-success" -->
            <span id = "grab_it"></span>
        <% end %>
      <% end %>
    </div> <!-- closes class="col-md-8" -->


    <%= render "sidebar" %>

  </div> <!-- closes row -->




  <!-- insert footer -->

  </div> <!-- closes row-->
</div> <!-- closes container-->


