<fieldset id="form">
          <legend>Answer Question</legend>
          <div>Subject: <%= @participant.subject_number %> </div>
					<div><%= @question.title %></div>
					<div><%= @question.content %></div>

          <%= form_for :answer, url: {action: "create"}, html: { class: "bs-example form-horizontal" } do |f| %>

              
          	      <%= f.label :content, :input_html => { :class => "control-label"} %>
                
          	      <%= f.text_area :content, :input_html => { :class => "form-control"} %>
          	      <%= hidden_field_tag 'question_id', @question.id %>
             

             
                <% if @question.private %>
                        The subject has opted for this question to remain private
                <% else %>
                  <%= f.check_box :private%>
                  <%= f.label "Would you like this question to be private and not be shared with the test group" %>
                <% end %>
          	     <%= f.submit "Submit",  :id => "login", :class => "btn btn-info" %>

          <% end %>

        </fieldset>