<!DOCTYPE html>
<html>
<head>
  <title>PatientEngagement</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- <div class="wrapper"> -->
<!--   <div class="container"> -->
    <div class="row">
      <div class="col-lg-12">
        <div class="bs-example">
          <div class="navbar navbar-default navbar-static-top">
            <div class="navbar-header">
              <a  href='/'><img src="/assets/possiblelogo.png" alt="logo" height="58"></a>
            </div>


            </div><!-- /.nav-collapse -->
          </div><!-- /.navbar default-->
           <div class = "flash_errors">
            <% if flash[:message] != nil %>
              <% @messages = flash[:message] %>
                <ul>
                <% @messages.each do |msg| %>
                  <li> <%= msg %> </li>
                <% end %>
                </ul>
            <% end %>
          </div>
        </div><!-- end of class="bs-example" -->
        </div> <!-- end of div class="col-lg-12" -->
      </div> <!-- end of div class="row" -->


<%= yield %>

</body>
</html>
