<!DOCTYPE html>
<html>
<head>
  <title>SubjectOne</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- <div class="wrapper"> -->
<!--   <div class="container"> -->
    <div class="row">
      <div class="col-lg-12">
        <div class="bs-example">
          <div class="navbar navbar-default navbar-static-top">
            <div class="navbar-header">
              <a  href='/'><img src="/assets/small58logo3.png" alt="logo" id="med-logo"></a>
            </div>

            <!-- <div class="navbar-collapse collapse navbar-responsive-collapse"> -->

              <% if current_user != nil %>
              <ul class="nav navbar-nav navbar-right nav_fix">
                <li><a href="/">Dashboard</a></li>
                <li><a href="/trials/<%= current_trial_id %>">Trial Info</a></li>
                <li> <%= link_to "Log Out", logout_path, {method: :post} %></li>
              </ul>
              <% end %>

            <!-- </div> -->

            </div><!-- /.nav-collapse -->
          </div><!-- /.navbar default-->
                  </div><!-- end of class="bs-example" -->
        </div> <!-- end of div class="col-lg-12" -->
      </div> <!-- end of div class="row" -->
      <div class="deco-bar"></div>

          <% if flash[:message] != nil %>

            <div class="row">
              <div class="col-lg-3"> </div> <!-- left page spacing using columns-->
                <div class="col-lg-6"> <!-- main content space on page using columns-->



                    <% @messages = flash[:message] %>
                    <% @messages.each do |msg| %>
                      <!-- <div class="alert alert-danger flash_errors"> <%= msg %> </div> -->

                      <div class="alert alert-danger some_top_space"> <%= msg %> </div>

                    <% end %>

                  </div><!-- end of class="flash_errors" -->
                </div><!-- end of class="col-lg-6" -->
              <div class="col-lg-3"></div><!-- end of class="col-lg-3" -->

            <% end %>




<%= yield %>

</body>
</html>
